{% extends "index.html" %}

{% block title_header %}
  Nosotros
{% endblock title_header %}

{% block title_banner %}
  <h1 class="display-4 fw-bolder">Acerca de Mi</h1>
  <p class="lead fw-normal text-white-50 mb-0">Detalles generales del Desarrollador del sitio</p>
{% endblock title_banner %}

{% block container_layout %}
  <div class="container-lg" style="margin-top: 5px; margin-bottom: 5px; height: 550px;">
    <div class="row" style="width: 100%;">
      <div class="col-12">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center" style="margin-top: 5px; height: 150px">
          <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" class="img-thumbnail" alt="Avatar">
      </div>
      <div class="col-12" style="text-align: center;">
        <h1>¡Hola Equipo CODER!</h1>
        <p>Me llamo Roberto Barajas, vivo en México y soy el Desarrollador de este sitio web.</p>
        <p>Me gusta mucho la programación y el desarrollo de aplicaciones web.</p>
        <p>
          Actualmente trabajo para una empresa Mexicana llamada CompuSoluciones, tengo el puesto
          de software developer con 5 años de experiencia.
        </p>
        <p>
          Nunca había tenido la oportunidad de meterme al mundo de Python y ahora que se dio la oportunidad
          estoy aprendiendo en CODERHOUSE.
        </p>
        <p>Espero que les guste el sitio yo lo encontré muy divertido y de gran aprendizaje</p>
      </div>
    </div>
  </div>
{% endblock container_layout %}