{% extends "index.html" %}

{% block title_header %}
  Inicio
{% endblock title_header %}

{% block title_banner %}
  <h1 class="display-4 fw-bolder">Bienvenidos a mi Tienda Online</h1>
  <p class="lead fw-normal text-white-50 mb-0">Tienda de productos random</p>
{% endblock title_banner %}

{% block container_layout %}
  <div class="container-lg" style="display: flex; margin-top: 5px; margin-bottom: 5px; height: 350px;">
    <div class="row" style="width: 100%; margin: 0 auto;">
      <div class="col-12" style="text-align: center;">
        <h1>¡Esto es el Inicio!</h1>
      </div>
    </div>
  </div>
{% endblock container_layout %}