{% extends "index.html" %}

{% block title_header %}
  Cierre de Sesión
{% endblock title_header %}

{% block title_banner %}
  <h1 class="display-4 fw-bolder">Cerraste tu sesión</h1>
  <p class="lead fw-normal text-white-50 mb-0">Vuelve pronto</p>
{% endblock title_banner %}

{% block header_container %}
  <div class="container-lg" style="display: flex; margin-top: 5px; margin-bottom: 5px; height: 350px;">
    <div class="row" style="width: 100%; margin: 0 auto;">
      <div class="col-12" style="text-align: center;">
        <i class="bi bi-person-walking"></i>
      </div>
    </div>
  </div>
{% endblock header_container %}