/* MODIFICADOS POR MI */
/* footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
} */
@media (max-width: 150px) {
  .card {
      flex-direction: column; /* Cambia la dirección del contenedor a columnas */
  }
}